# ==========================================
# HINT: Copy this file to .env and substitute your values
# cp .env.example .env
# ==========================================

# ==========================================
# APP SETTINGS
# ==========================================
LOG_LEVEL=INFO
# Secret key for API authorization (passed in the X-API-Key header)
APP_API_KEY=super-secret-dev-key

# ==========================================
# DATABASE SETTINGS (PostgreSQL)
# ==========================================
DATABASE__USER=payment_user
DATABASE__NAME=payment_db

# IMPORTANT: If the password is not specified here, the application will attempt to read it 
# from the file secrets/pg_password.txt (Docker Secrets)
DATABASE__PASSWORD=dev_password_123

# Use "localhost" to run locally via terminal.
# When running via docker-compose, this value will automatically be overridden by service name("db").
DATABASE__HOST=localhost
DATABASE__PORT=5432

# SQLAlchemy Connection Pool Settings
DATABASE__ECHO=false
DATABASE__POOL_SIZE=20
DATABASE__POOL_PRE_PING=true

# ==========================================
# MESSAGE BROKER SETTINGS (RabbitMQ)
# ==========================================
BROKER__USER=guest
# IMPORTANT: Can be read from the file secrets/rabbitmq_password.txt
#BROKER__PASSWORD=guest

# Use "localhost" to run locally via terminal.
# When running via docker-compose, this value will automatically be overridden to service name("rabbitmq").
BROKER__HOST=localhost
BROKER__PORT=5672
BROKER__VHOST=""
